h1 {
  text-align: center;
}
nav {
  background-color: yellowgreen;
  height: 100px;
}
#nav_bar {
  word-spacing: 450px;
}
#hakkımda {
  margin-left: 75px;
  background-color: red;
  display: inline-block;
  margin-top: 30px;
}
#projeler {
  background-color: red;
  display: inline-block;
  margin-top: 30px;
}
#linkedin {
  background-color: red;
  display: inline-block;
  margin-top: 30px;
}
#github {
  background-color: red;
  display: inline-block;
  margin-top: 30px;
}
#ben {
  width: 900px;
  height: 700px;
  display: inline-block;
  float: left;
  margin-left: 0px;
}
#hakkımda-yazı {
  display: inline-block;
  background-color: red;
  float: right;
  width: 800px;
  font-size: 30px;
  margin-top: 100px;
  margin-right: 100px;
}
#hakkımda-başlık {
  background-color: red;
  display: inline-block;
  float: right;
  margin-right: 450px;
  margin-top: 100px;
  font-size: 30px;
}
